<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="redminemigration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <applicationSettings>
        <redminemigration.Properties.Settings>
            <setting name="redmine_uri" serializeAs="String">
                <value>https://redmine.xxxxx.com</value>
            </setting>
            <setting name="redmine_apikey" serializeAs="String">
                <value>xxxxx</value>
            </setting>
            <setting name="redmine_internaluri" serializeAs="String">
                <value>http://xx.xx.xx.xx</value>
            </setting>
        </redminemigration.Properties.Settings>
    </applicationSettings>
</configuration>
